                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;
                    border-spacing: 0; margin: 0; padding: 0;  padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                    font-size: 72px; line-height: 130%;
			        padding-top: 5px;
			        color: #FFFFFF; background-color: #7f0000;
			        border: 3px solid white; border-bottom: none;
			        font-family: sans-serif;" class="header">
                        &#9888;
                    </td>
                </tr>
                <tr style="background-color: #7f0000">
                    <td align="center" valign="top" style="border-collapse: collapse;
                    border-spacing: 0; margin: 0; padding: 0;  padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                    font-size: 18px; font-weight: bold; line-height: 130%;
			        padding-top: 5px; padding-bottom: 20px;
			        color: #FFFFFF; border: 3px solid white; border-top: none;
			        font-family: sans-serif;" class="header">
                        {{error_message}}
                    </td>
                </tr>