                {% if hostname %}
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;
                    border-spacing: 0; margin: 0; padding: 0;  padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                    font-size: 16px; font-weight: bold; line-height: 130%;
			        padding-top: 5px; padding-bottom: 10px;
			        color: #FFFFFF;
			        font-family: sans-serif;" class="header">
                        {{hostname}}
                    </td>
                </tr>
                {% endif %}
                {% if ptrs_updated is defined and ptrs_updated %}
                <!-- PARAGRAPH -->
                <!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;
                            border-spacing: 0; margin: 0; padding: 0;
                            font-size: 17px; font-weight: 400; line-height: 160%;
                            color: #666666; font-family: sans-serif;"
                        class="paragraph">
                        <table style="color: #666666; width: 100%;" class="main">
                            <tr>
                                <th>PTR</th>
                                <th>IP</th>
                            </tr>
                            {{updated_rows}}
                        </table>
                    </td>
                </tr>
                {% else %}
                <!-- No updates -->
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;
                    border-spacing: 0; margin: 0; padding: 0;  padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                    font-size: 72px; font-weight: bold; line-height: 130%;
			        padding-top: 5px;
			        color: #FFFFFF;
			        font-family: sans-serif;" class="header">
                        &#9787;
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;
                    border-spacing: 0; margin: 0; padding: 0;  padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
                    font-size: 18px; font-weight: bold; line-height: 130%;
			        padding-top: 5px; padding-bottom: 20px;
			        color: #FFFFFF;
			        font-family: sans-serif;" class="header">
                        Everything is up to date!
                    </td>
                </tr>
                {% endif %}
                <!-- Statistics -->
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0;
                    padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 10px;
                    font-weight: 400; line-height: 150%;
                    padding-top: 30px;
                    padding-bottom: 20px;
                    color: white;
                    font-family: sans-serif;" class="center">
                        {% if connectors %}
                        Enabled connectors: {{connectors}}<br/>
                        {% endif %}
                        {% if interface_number and ip_number %}
                        Interfaces: <b>{{interface_number}}</b>, IPv4 addresses: <b>{{ip_number}}</b><br/>
                        {% endif %}
                        Time it took: <b>{{'%0.2f'| format(delta_time|float)}}</b> sec.<br/>
                        <i><b>{{app_name}} ({{app_version}})</b></i><br/>
                    </td>
                </tr>